:root {
  --main-font: "Sono", sans-serif;
  --light-blue: #9F9FED;
  --dark: #020024;
  --white: #fff;
  --main-green: #328770;
  --light-green: #8cedd3;
  --light-brown: #dcb47a;
  --dark-brown: #553200;
  --charcoal:#273E47;
  --shadows: 3px 2px 2px var(--charcoal);
}

.App {
  text-align: center;
  position: relative;
  margin-top: 24px;
}

html {
  height: 100%;
  background-image: linear-gradient(0deg, var(--dark) 0%, var(--main-green) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--main-font);
}

button {
  all: unset;
}

p {
  all: unset;
}

h1, h2, h3, h4, p, b, li {
  color: var(--white);
}

.header-container h1 {
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 5.5s steps(100, end);
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.header-container h1, .header-container h2:not(span) {
  text-shadow: var(--shadows);
}

.header-roles-container, .header-roles-container span {
  display: inline-flex;
}

.header-roles-container h2 {
  opacity: 0;
}

.header-roles-container h2:nth-child(1){
  animation-name: fadeInAnimation;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.header-roles-container h2:nth-child(3){
  animation-name: fadeInAnimation;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.header-roles-container h2:nth-child(5){
  animation-name: fadeInAnimation;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.header-roles-container span {
  animation-name: fadeInAnimation;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

.header-dot {
  position: relative;
  margin-top: 12px;
  font-size: 8px;
  top: 4px;
  bottom: 14px;
  padding: 12px;
  text-shadow: none;
  color: var(--white);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.start-click{
  margin: 0 auto;
  width: 250px;
  padding-top: 100px;
  color: white;
  font-size: 25px;
  text-shadow: var(--shadows);
}

@keyframes fadeInOutAnimation {
  0% {
    opacity: 0.5; 
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.start-arrow {
  font-size: 100px;
  animation-name: fadeInOutAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
  animation-fill-mode: forwards;
  text-shadow: var(--shadows);
}

.nav-container {
  display: block;
  position: absolute;
  margin-top: 20px;
  left: 120px;
}

.node-circle {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: var(--white);
  border-radius: 50%;
}

.node-circle:hover {
  cursor:pointer;
}

.node-line {
  position: relative;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: 22px;
  height: 100px;
  width: 4px;
  background-color: var(--white);
}

.node-letter {
  position: absolute;
  bottom: 8px;
  left: 14px;
  color: rgb(21, 71, 58);
  font-size: 32px;
}

.node-letter:hover > .content-container {
  border-top: var(--white) 2px solid;
  border-right: var(--white) 2px solid;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  /* flex: 1 1 50%; */
}

.about-section img {
  flex-grow: 1;
}

.about-text {
  flex-grow: 3;
  width: 50%;
  padding: 24px;
}

.skills-section section {
  display: flex;
  flex-wrap: wrap;
}

.skills-section h3 {
  color: var(--light-brown);
}

.skills-section div {
  flex-grow: 4;
}

.skills-section img {
  width: 50px;
  height: auto;
}

.skils-section ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.skills-section ul li {
  list-style-type: none;
  padding: 4px;
  margin-left: -50px;
}

.content-container, #content-container {
  margin-top: 40px;
  margin-left: 240px;
  margin-right: 80px;
}

.content-container::before {
  content: '';
}

fieldset {
  /* border-top: #fff 2px solid;
  border-right: #fff 2px solid; */
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding: 20px;
  /* animation-name: show-block;
  animation-duration: 5s; */
}

fieldset legend {
  color: var(--white);
  margin: 0 auto;
  font-size: 24px;
  text-shadow: var(--shadows);
}

@keyframes show-block {
  0% {
      border-top: 2px solid transparent;
      border-top-width: 0;
      /* width: 0;
      height: 0; */
  }

  25% {
      border-top-color: var(--white);
      border-top-width: 100%;
      /* width: 0.25s ease-out;
      height: 0.25s ease-out; */
  } 

  50% {
      border-right: 2px solid transparent;
      border-right-width: 0;
      /* width: 0;
      height: 0; */
  }

  75% {
    border-right-color: var(--white);
    border-right-width: 100%;
    /* width: 0.25s ease-out;
    height: 0.25s ease-out; */
  }

  100% {
      border-top: var(--white) 2px solid;
      border-right: var(--white) 2px solid;
  }
}

.show-content-border fieldset {
  animation-name: show-block;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}



@keyframes node-border {
  /* 33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  } */
  0% {
    transform: rotate(0deg);
  }

   100% {
    transform: rotate(360deg);
   }
}

@keyframes letter-no-rotate {
  100% {
    transform: rotate(-360deg);
  }
}


.active-node {
  background: linear-gradient(rgba(2,0,36,1), rgb(140, 237, 211));
  overflow: hidden;
}

.active-node::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(2,0,36,1), rgb(140, 237, 211));
  animation: node-border 4s linear infinite;
}

.active-node::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--white);
  inset: 5px;
  border-radius: 26px;
}

.active-node .node-letter {
  position: absolute;
  color: rgb(21, 71, 58);
  z-index: 2;
}

.job-section h3, .school-section h3, .volunteer-section h3{
  text-decoration: underline;
  text-shadow: 2px 2px 2px var(--dark);
  color: var(--light-brown);
}

#contact-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

#contact-form input {
  width: 350px;
  height: 30px;
  margin-top: 20px;
}

#contact-form textarea, #contact-form button {
  margin-top: 20px;
}

#contact-form button {
  border: 2px solid var(--white);
  padding: 8px;
  color: var(--white);
}

input::placeholder {
  font-family: var(--main-font);
}

.all-games, .all-projects {
  display: flex;
  flex-wrap: wrap;
}

.game-card, .project-card {
  position: relative;
  padding: 20px;
  cursor: pointer;
}

.game-card:hover, .project-card:hover {
  opacity: 1;
}

.game-card:hover img, .project-card:hover img {
  opacity: 0.5;
}

.game-info, .project-info, .skill-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
}

.skills-section li {
  position: relative;
}

.skill-info {
  position: absolute;
  top: 25%;
  left: 50%;
  opacity: 0;
  transition: 0.5s ease;
}

.node-info {
  position: absolute;
  top: 8%;
  left: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--white);
  border-radius: 20px;
  padding: 10px;
}

.node-info p {
  color: rgb(21, 71, 58);
  font-size: 16px;
}

.game-card:hover .game-info, .project-card:hover .project-info , .skills-section .skill-info, .node-info{
  opacity: 1;
}

.game-info p, .project-info p, .skill-info {
  background: rgba(0, 0, 0, 0.50);
  color: var(--white);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.25);
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  background-color: rgba(0, 0, 0, .50) !important;
}

.ReactModal__Overlay--before-close{
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}

.game-card, .project-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-modal h2, .main-modal h4, .main-modal p {
  text-align: center;
}

.main-modal img {
  display: block;
  margin: 0 auto;
}

.card-content h4, .card-content p {
  padding: 12px;
}

.icons-container {
  display: flex;
}

.icons-container ul, .music-container ul {
  display: inline-flex;
}

.icons-container li, .music-container li {
  list-style-type: none;
  margin-right: 24px;
}

.mobile-nav-container {
  display: none;
}

@media (max-width: 700px){
  .start-arrow {
    font-size: 50px;
  }

  .start-click {
    font-size: 18px;
  }
}

/*Media Queries*/
@media (max-width: 500px) {
  .main-content {
    padding-top: 24px;
  }

  .content-container, #content-container {
    margin: 0 auto;
    padding: 24px;
  }
  
  .start-click {
    display: none;
  }
  
  fieldset {
    padding: 0;
  }

  .about-section img {
    height: 390px;
    padding: 24px;
  }
  
  .about-text {
    width: 100%;
  }

  #contact-form {
    flex-direction: initial;
  }

  #contact-form input, #contact-form textarea {
    width: 300px;
    margin-top: 20px;
  }

  #contact-form button {
    margin-left: auto;
    margin-right: auto;
  }

  .content-container {
    border: none;
    padding: 20px; 
  }

  .show-content-border fieldset {
    animation: none !important;
  }

  .header-roles-container {
    flex-direction: column;
  }
  
  .header-roles-container h2 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .header-container .header-dot {
    display: none;
  }

  .nav-container {
    display: none;
  }

  .mobile-nav-container {
    display: block;
  }

  .game-card, .project-card {
    margin: 0 auto;
  }

  .main-modal {
    width: unset !important;
  }

  .main-modal img {
    width: 300px;
  }
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.css-1xd8f6b-MuiModal-root-MuiPopover-root-MuiMenu-root {
  width: 300px !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: var(--light-green) !important;
  color: var(--charcoal) !important;
}

.MuiMenu-root ul li{
  color: var(--light-green);
  background-color: var(--charcoal);
  font-family: var(--main-font);
  font-size: 10px;
}

.ReactModal__Overlay--after-open .main-modal {
  width: 500px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  text-align: center;
}
