.App {
  text-align: center;
  position: relative;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(50,135,112,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;font-family: "Sono", sans-serif
}

h1, h2 {
  color: white;
}

p {
  all: unset;
}

.nav-container {
  position: absolute;
  margin-top: 20px;
  left: 120px;
}

.node-circle {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
}

.node-line {
  position: relative;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: 22px;
  height: 200px;
  width: 4px;
  background-color: #fff;
}

.node-letter {
  position: absolute;
  bottom: 10px;
  left: 14px;
  color: rgb(21, 71, 58);
  font-size: 32px;
}